{% extends "layout.html" %}
{% block body %}
<div class="row">
  <div class="col-12">
    <div class="alert alert-info info-mogmog" role="alert">
      <h4 class="alert-heading">もぐもぐ！</h4>
      <p>success, mogmog.</p>
      <hr>
      <p class="mb-0">みんなが食べさせたツイートは<a href="https://tweetpac-cliant.firebaseapp.com">こちら</a></p>
    </div>
  </div>
  <div class="col-12">
    <div class="packman-wrapper">
      <div class="pacman"></div>
    </div>
  </div>
  <div class="col-12">
    <input type="button" class="btn btn-outline-info" id="btn-top" value="topへ" onclick="location.href='/'">
  </div>
</div>
{% endblock %}
