{% extends "layout.html" %}
{% block body %}
<div id="loading">
  <div class="loading-message">
    <img src="{{ url_for('static', filename='loading/loading.gif') }}" height="150">
    <p>生成中... 15秒くらい待ってね</p>
  </div>
</div>
<div class="index-wrapper">
  <p class="main-title">タイトル未定</p>
  <form action="main" method="POST" id="mainform">
    <div class="form-group">
      <input name="name" class="form-control" placeholder="@から始まるユーザIDを入力"></input>
    </div>
    <button type="submit" class="btn btn-primary btn-lg btn-to-mainpage"><img src="{{ url_for('static', filename='indeximage/Twitterlogo2.png') }}" height=30>もぐもぐする</button>
  </form>
</div>
{% endblock %}
