{% extends "layout.html" %}
{% block body %}
<div class="row">
  <div class="col-12">
    <!-- <button type="button" class="btn btn-outline-info" id="to-index"><i class="fas fa-undo-alt"></i></button> -->
    <form action="/" method="POST">
      <button type="button" onclick="history.back()"　class="btn btn-outline-primary btn-lg"><i class="fas fa-undo-alt"></i>戻る</button>
    </form>
  </div>
</div>
  {% for k, v in tweets.items() %}
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <div>
            <pre>
              <h5 class="card-title">{{ v['text'] | safe }}</h5>
            </pre>
          </div>
          <button type="button" class="btn btn-outline-info btn-audio-play" id="{{ k }}"><i class="fas fa-play"></i> 再生</button>
          <!-- <audio src="static/voicefiles/{{ k }}.wav" id="audio{{ k }}"></audio> -->
          <div>
            {% if v['media_type'] == "photo" %}
              {% for i in range(v['photo_num']) %}
              <img src="{{ v['media_src'][i + 1]}}" width="300px" class="media-border">
              {% endfor %}
            {% endif %}
            {% if v['media_type'] == "video" %}
              <video src="{{ v['media_src'][1] }}" controls width="300px" class="media-border"></video>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
{% endblock %}
