{% extends "layout.html" %}
{% block body %}
<div class="row">
  <div class="col-12">
    {% for k, v in delTweets.items() %}
    <div class="card">
      <div class="card-body">
        <div>
          <h5 class="card-title">{{ v['text'] | safe }}</h5>
        </div>
        <div>
          {% if v['media_type'] == "photo" %}
            {% for i in range(v['photo_num']) %}
              <img src="{{ v['media_src'][i + 1]}}" width="300px" class="media-border">
            {% endfor %}
          {% endif %}
          {% if v['media_type'] == "video" %}
            <video src="{{ v['media_src'][1] }}" controls width="300px" class="media-border"></video>
          {% endif %}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
<div class="row">
  <input type="button" class="btn btn-outline-info" id="btn-top" value="たべさす" onclick="location.href='/delpac'">
</div>
{% endblock %}
